<%- include("templates/header") %>
<h2>You shouldn't be here... 404 Error</h2>
</br>
<div>
    <video  id="404video" autoplay muted>
        <source src="/images/404 Error.mp4" type="video/mp4">
    </video>
</div>
<button class="btn btn-danger" onclick="audio()">
    Audio
</button>
<script>
    var video = document.getElementById("404video");
    function audio() {
        video.muted = false;
        video.currentTime = 0;
    }
</script>
<%- include("templates/footer") %>