<%- include("templates/header", { title:"Home" }) %>
    <h2>Hello, <%= username %>.</h2>
    <a href='/members'><button>Members</button></a>
    <a href='/logout'><button>Logout</button></a>
<%- include("templates/footer") %>