<%- include('templates/header') %>
<h1>Reset Your Password</h1>
<form action="/update-password" method="POST">
  <input type="hidden" name="userId" value="<%= id %>">
  <input type="hidden" name="token" value="<%= token %>">
  <label for="password">New Password:</label>
  <input type="password" id="password" name="password" required>
  <label for="repeatPassword">Repeat New Password:</label>
  <input type="password" id="repeatPassword" name="repeatPassword" required>
  <button type="submit">Submit New Password</button>
</form>
<%- include('templates/footer') %>