<link rel="stylesheet" type="text/css" href="/css/style_order.css">
<%- include('templates/header') %>
<h1>Order Details: </h1>
<p>You currently do not have any orders. Place one!</p>
<%- include('templates/footer') %>
