<%- include('templates/header-unAuth') %>
    <!-- <h2>All done <%= user.username %>,</h2>
    <p>Your password has been changed successfully.</p>
    <a href="/login"><button>Log in</button></a> -->

    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="/img/favicon.ico" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold text-body-emphasis">All done <%= user.username %>.</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Your password has been changed successfully.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/login"><button class="btn btn-primary btn-lg px-4 gap-3" fdprocessedid="1xjyoq">Log in</button></a>
            </div>
        </div>
    </div>
    <%- include('templates/footer') %>