<!-- This is just an email response. No need for header/footer/anything -->
<h1>All done <%= user.username %>.</h1>
<p>Your password has been changed successfully.</p>
<p>Cheers,</p>
<p>Seraph AI Service Team</p>
