<%- include("templates/header") %>
<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">Boston Dynamics Atlas V</h1>
      <p class="lead">Founded in 1992 by MIT researchers, Boston Dynamics has been at the forefront of robotic innovation, consistently pushing the boundaries of what robots can achieve. The first iteration of the Atlas was 
        introduced in 2013, marking a significant milestone in the field of robotics. Since then, the Atlas line has undergone several iterations, each incorporating advancements in technology and 
        design. With the introduction of the Atlas V, Boston Dynamics continues to innovate and redefine the capabilities of humanoid robots, setting new standards for versatility and performance.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Rent Now</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Go back</button>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="/img/robots/Atlas V.png" alt="robot" width="100%">
    </div>
  </div>
<%- include("templates/footer") %>