<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLTF Model</title>
    <link rel="stylesheet" href="/css/style_rotateRobot.css">
</head>
<body>
    <div class="overlay"></div>
    <canvas class="webgl"></canvas>
    <script type="importmap">
        {
            "imports": {
                "three": "/js/three.js-master/build/three.module.js"
            }
        }
    </script>
    <script type="module" src="/js/rotateRobot.js"></script>
</body>
</html>