<%- include("templates/header", { title:"Sign up" }) %>
    <h2>Sign up</h2>
    <form action="/createUser" method="POST">
        <input type="text" id="username" name="username" placeholder="username" required><br>
        <input type="email" id="email" name="email" placeholder="email" required><br>
        <input type="password" id="password" name="password" placeholder="password" required><br><br>
        <input type="submit" value="Signup">
    </form>
<%- include("templates/footer") %>