#mainDiv {
  display: flex;
  flex-wrap: wrap;
}

#formDiv {
  flex: 1 1 60%;
  min-width: 300px;
}

#imgDiv {
  flex: 1 1 30%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-150px, -60px);
}

#sideBot {
  width: 100%;
  max-width: 400px;
}

@media (max-width: 993px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .container > div {
    flex: 1 1 100%;
  }

  #sideBot {
    display: none;
  }
}
