/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    /* margin: 20px auto; */
    /* background: #fff;
    padding: 20px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* border-radius: 8px; 
}*/

.order-map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.order-info, .map-container {
    width: 48%;
}

.order-info {
    display: flex;
    flex-direction: column;
}

.order-info h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
    

}

.order-info p {
    color: #555;
    margin: 5px 0;
}

#map {
    height: 750px;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.cart-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.cart-info h2 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.cart-info table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info table, th, td {
    border: 1px solid #ddd;
}

.cart-info th, .cart-info td {
    padding: 8px;
    text-align: center;
}

.cart-info th {
    background-color: #f2f2f2;
    text-align: center;
}

.cart-info img {
    border-radius: 4px;
    width: 250px; 
    height: auto;
}

.cart-info .total {
    font-weight: bold;
    margin-top: 10px;
}

.cart-info .total-text {
    text-align: right;
    font-weight: bold;
}

.cart-info .total-price {
    text-align: right;
    font-weight: bold;
}
@media (max-width: 430px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .order-map-container {
        flex-direction: column;
        align-items: center;
    }

    .order-info, .map-container {
        width: 100%;
    }

    .map-container {
        margin-top: 20px;
    }

    .cart-info table, th, td {
        font-size: 0.9em;
    }

    .cart-info img {
        width: 80px; 
    }
}