</div>
<nav class="navbar navbar-expand fixed-bottom bg-dark primary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <img src="/img/icons/house.svg" width="32px" height="32px"></img>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/orderDetail">
                        <img src="/img/icons/receipt.svg" width="32px" height="32px"></img>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/robots">
                        <img src="/img/icons/robot.svg" width="32px" height="32px"></img>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">
                        <img src="/img/icons/cart.svg" width="32px" height="32px"></img>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Start of ChatBot (www.chatbot.com) code -->
<script type="text/javascript">
    window.__be = window.__be || {};
    window.__be.id = "664d85095a4603000754247a";
    (function () {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
    })();
</script>
<noscript>You need to <a href="https://www.chatbot.com/help/chat-widget/enable-javascript-in-your-browser/"
        rel="noopener nofollow">enable JavaScript</a> in order to use the AI chatbot tool powered by <a
        href="https://www.chatbot.com/" rel="noopener nofollow" target="_blank">ChatBot</a></noscript>
<!-- End of ChatBot code -->
</body>

</html>