</div>
<nav class="navbar navbar-expand fixed-bottom bg-dark primary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <img src="/img/icons/house.svg" width="32px" height="32px"></img>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/orderDetail">
                        <img src="/img/icons/receipt.svg" width="32px" height="32px"></img>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/robots">
                        <img src="/img/icons/robot.svg" width="32px" height="32px"></img>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">
                        <img src="/img/icons/cart.svg" width="32px" height="32px"></img>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>